@import 'reset.css/reset';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.2;
}

.scrollmap-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.scrollmap-map {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.scrollmap-panes {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    background: #000;
    color: #FFF;
    width: 450px;
    min-height: 100%;
    padding: 18px;
}

.scrollmap-pane {
    margin-bottom: 24px;
}

.scrollmap-pane__title {
    margin-bottom: 8px;
}

.marker {
    background-color: red;
    background-size: cover;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
}

