/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.2; }

html {
  font-size: 62.5%; }

.scrollmap-container {
  position: relative;
  width: 100%;
  height: 100%; }

.scrollmap-map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 220px;
  z-index: 10; }
  @media all and (min-width: 760px) {
    .scrollmap-map {
      bottom: 0;
      height: 100%;
      z-index: 0; } }

.scrollmap-content {
  position: relative;
  right: 0;
  left: auto;
  margin-top: 220px;
  background: #000;
  color: #FFF;
  width: 100%;
  padding: 18px;
  padding-top: 50px; }
  @media all and (min-width: 760px) {
    .scrollmap-content {
      position: absolute;
      top: 0;
      width: 450px;
      min-height: 100%;
      margin-top: 0; } }

.scrollmap-panes {
  margin-bottom: 4.8rem; }

.scrollmap-pane {
  margin-bottom: 24px; }

.scrollmap-pane__title {
  margin-bottom: 8px; }

.marker {
  cursor: pointer; }

.marker-img {
  background-image: url("/images/map-marker.png");
  background-size: cover;
  opacity: 0.5; }

/*------------------------------------*  Recommended
\*------------------------------------*/
.scrollmap-recommended__list-item {
  margin-bottom: 24px; }
  .scrollmap-recommended__list-item:last-of-type {
    margin-bottom: 0; }

.scrollmap-recommended__list-anchor {
  display: block;
  position: relative;
  padding-bottom: 56.25%; }

.scrollmap-recommended__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("http://placehold.it/1600x900");
  background-size: cover; }

.scrollmap-recommended__meta {
  position: relative;
  z-index: 1; }

.scrollmap-recommended__title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem; }

/*------------------------------------*  Scrollmap Controls
\*------------------------------------*/
.scrollmap-controls {
  position: fixed;
  top: 220px;
  right: 0;
  left: 0;
  z-index: 15; }

.scrollmap__toggle-map {
  display: block;
  text-align: center;
  padding: 10px 0; }
